run = "python start.py"
modules = ["python-3.11"]
entrypoint = "start.py"

[nix]
channel = "stable-24_05"

[unitTest]
language = "python3"

[env]
PORT = "8080"

[deployment]
run = ["python", "start.py"]
deploymentTarget = "cloudrun"
